<body>
				<form class="login100-form validate-form" action="<%= action %>" method="post">
				<p><%= NotificationLog %></p>
					<div class="wrap-input100 validate-input m-b-18" data-validate = "name is required">
						<span class="label-input100">Name</span>
						<input class="input100" type="text" name="name" placeholder="Enter name">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-18" data-validate = "vision is required">
						<span class="label-input100">vision</span>
						<input class="input100" type="text" name="vision" placeholder="Enter vision">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-18" data-validate = "img is required">
						<span class="label-input100">img</span>
						<input class="input100" type="text" name="img" placeholder="Enter img">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Create User
						</button>
					</div>
				</form>