<!DOCTYPE html>
<html lang="en-US">

<head>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<!-- SEO -->
	<title><%= htmltit %></title>
	
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="split/split/images/favicon.png" sizes="32x32">

	<!-- Styles -->
	<link rel='stylesheet' href='split/split/assets/css/split.css' type='text/css' media='screen' />
	<meta name="viewport" content="width=device-width,initial-scale=1" />

</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

<div class="fs-split">

	<!-- Image Side -->
	<div class="split-image">

	</div>

	<!-- Content Side -->
	<div class="split-content">

		<div class="split-content-vertically-center">
		
			<div class="split-intro">
				
				<h1>GhaziMuharam</h1>

				<span class="tagline">Web Based Osis Election</span>

			</div>

			<div class="split-bio">
				
			<p><a href="guru/login">Masuk Ke Portal Guru</a></p>
			<p><a href="siswa/login">Masuk Ke Portal Siswa</a></p>

			</div>

			
			<div class="split-credit">

				<p>&copy;2018 <a href="#">Ghazi Muharam</a></p>
</div>

</body>
</html>