<% include header.ejs %>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						<%= title %>
					</span>
				</div>
				<form class="login100-form validate-form" action="<%= action %>" method="post">
				<p><%= NotificationLog %></p>
					<div class="wrap-input100 validate-input m-b-18" data-validate = "UniqueCode is required">
						<span class="label-input100">UniqueCode</span>
						<input class="input100" type="password" name="password" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>
					<div class="login100 validate-input m-b-18" data-validate = "User Type is required">
					<span class="label-input100">TypeUser</span>
						<input type="radio" name="type" value="guru"> Guru<br>
  						<input type="radio" name="type" value="siswa"> Siswa<br>
						<span class="focus-input100"></span>
					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Create User
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<% include footer.ejs %>
