<% include header.ejs %>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						<%= title %>
					</span>
				</div>
				<form class="login100-form validate-form" action="<%= action %>" method="get">
						<button class="login100-form-btn">
							Logout
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<% include footer.ejs %>
